<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Selmarinel's CV">
    <meta name="author" content="Selmarinel">
    <meta charset="UTF-8"/>
    <title>Selmarinel CV</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/app.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section id="app">
    <div class="container full-sized" id="first">
        <div class="row">
            <div class="col-3">
                <img src="images/me.png" class="face-icon" id="my_face">
            </div>
            <div class="col-5 text-left" v-cloak>
                {{name}}
            </div>

            <div class="col-4 text-right" v-cloak>
                <small class="green">{{position}}</small>
            </div>
        </div>
        <div class="row align-items-end" v-cloak>
            <div class="col text-left offset-8 links">
                <small v-for="link in links" v-if="link.show">
                    <span v-if="link.link">
                        <a :href="link.value" target="_blank">{{link.name}}</a>
                    </span>
                    <span v-else>
                        {{link.name}} : {{link.value}}
                    </span>
                </small>
            </div>
        </div>
    </div>

    <section class="container" id="contacts" v-cloak>
        <h1>Contacts</h1>
        <div class="row jumbotron">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="email-link" v-for="link in links" v-if="!link.link">
                    <i class="fa" :class="link.icon"></i> {{link.value}}
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-12 text-center">
                <div class="social-link" v-for="link in links" v-if="link.link">
                    <a :href="link.value"
                       target="_blank"><i class="fa" :class="link.icon"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="container" id="summary" v-cloak>
        <h1>Summary</h1>
        <div class="row jumbotron">
            {{summary}}
        </div>
    </section>

    <section class="container" id="experience" v-cloak>
        <h1>Experience
            <small>(Last {{experience.length}})</small>
        </h1>
        <div class="row jumbotron">
            <div class="card col-12" v-for="work in experience">
                <div class="card-block">
                    <div class="card-title">
                        <h4>
                            {{work.name}},
                            <small class="green">{{work.position}}</small>
                        </h4>
                        <p>
                            <small>{{work.location}} [{{work.date_from}} to {{work.date_to}}]</small>
                        </p>
                    </div>
                    <div class="card-text">
                        <p>
                            {{work.responsibility}}
                        </p>
                        <div class="list-group">
                            <section class="list-group-item list-group-item-action flex-column align-items-start"
                                     v-for="project in work.projects">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{project.name}}</h5>
                                    <small>{{project.position}}</small>
                                </div>
                                <p class="mb-1">{{project.description}}</p>
                            </section>
                        </div>
                    </div>
                    <div class="card-text">
                        <span class="badge badge-default" v-for="skill in work.stack">{{skill.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container" id="projects" v-cloak>
        <h1>Another important projects
            <small>(Last {{projects.length}})</small>
        </h1>
        <div class="row jumbotron">
            <div class="card col-lg-6 col-md-6 col-12" v-for="project in projects">
                <div class="card-block">
                    <div class="card-title">
                        <h4>{{project.name}}</h4>
                    </div>
                    <div class="card-text">
                        <p>{{project.description}}</p>
                        <p>
                            <i class="badge badge-pill badge-info" v-for="technology in project.stack">
                                {{technology.name}}
                            </i>
                        </p>
                        <a :href="project.link" class="btn btn-secondary" target="_blank" v-show="project.enable">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            Visit
                        </a>
                        <a :href="project.git" class="btn btn-outline-success" target="_blank">
                            <i class="fa fa-github"></i>
                            GIT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container" id="education" v-cloak>
        <h1>Education</h1>
        <div class="row jumbotron" v-for="educate in education">
            <h3>{{educate.name}}</h3>
            <p>{{educate.description}}</p>
        </div>
    </section>

    <section class="container" id="hobbies" v-cloak="">
        <h1>Hobbies</h1>
        <div class="row jumbotron">
            <ul>
                <li v-for="hobbie in hobbies">
                    {{hobbie.name}}
                </li>
            </ul>
        </div>
    </section>

    <!--<section class="container" id="pdf" v-cloak>-->
    <!--<h1>CV PDF</h1>-->
    <!--<div class="row jumbotron justify-content-center">-->
    <!--<div class="social-link">-->
    <!--<a href="assets/cv.pdf" target="_blank">-->
    <!--<i class="fa fa-download" aria-hidden="true"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>


    $(document).ready(function () {
        var app = new Vue({
            el: '#app',
            data: {
                name: "Yuriy Astakhov",
                position: "Software engineer",
                links: [
                    {
                        name: "email",
                        value: "selmarinel@gmail.com",
                        show: true,
                        link: false,
                        icon: "fa-envelope"
                    },
                    {
                        name: "telegram",
                        value: "@Selmarinel",
                        show: true,
                        link: false,
                        icon: "fa-telegram"

                    },
                    {
                        name: "Linkendin",
                        value: "https://www.linkedin.com/in/yurij-astakhov-757259105/",
                        show: true,
                        link: true,
                        icon: "fa-linkedin-square"
                    },
                    {
                        name: "Facebook",
                        value: "https://www.facebook.com/selmarinel",
                        show: true,
                        link: true,
                        icon: "fa-facebook"
                    },
                    {
                        name: "Github",
                        value: "https://github.com/selmarinel",
                        show: false,
                        link: true,
                        icon: "fa-github"
                    },
                    {
                        name: "BitBucket",
                        value: "https://bitbucket.org/selmarinel_nerdjin/",
                        show: false,
                        link: true,
                        icon: "fa-bitbucket"
                    }


                ],
                skills: [
                    {name: "PHP"},
                    {name:"Symfony"},
                ],
                education: [
                    {
                        "name": "National Technical University of Ukraine 'Kyiv Polytechnic Institute'",
                        "description": "I`ve studied in National Technical University of Ukraine 'Kyiv Polytechnic Institute'" +
                        "on faculty of Electrical and Electronics Engineering" +
                        "Department of Networks and systems \n" +
                        "Graduated Master's Degree"

                    }
                ],
                experience: [
                    {
                        name: "Dreamteam",
                        date_from: "14.02.2019",
                        date_to: "present",
                        location: "Ukraine, Kyiv",
                        position: "Web developer",
                        projects: [
                            {
                                "name": "DREAMTEAM platform",
                                "position": "Backend web developer",
                                "description": "Game platform"
                            }
                        ],
                        stack: [
                            {"name":"Symfony 4.3"},
                            {"name":"RabbitMQ"},
                            {"name":"MongoDB"},
                            {"name":"Micro-service architecture"},
                            {"name":"Elasticsearch"},
                            {"name":"Docker"},
                            {"name":"NodeJS on API gateway"},
                        ]
                    },
                    {
                        name: "Genesis",
                        date_from: "21.03.2018",
                        date_to: "01.02.2019",
                        location: "Ukraine, Kiev",
                        position: "Middle Web Developer",
                        projects: [
                            {
                                "name": "Strike",
                                'position': 'Backend developer',
                                'description': 'Seo project.'
                            },
                            {
                                "name": "Metric/Statistic",
                                'position': 'Backend developer',
                                "description": "Metric"
                            },
                            {
                                "name": "Parsers, Proxies and other",
                                'position': 'Backend developer'
                            },
                            {
                                "name": "Music NUR",
                                'position': 'Full Stack developer',
                                'description' : "Musi application"
                            }
                        ],
                        "stack": [
                            {"name": "Symfony 4.2"},
                            {"name": "PHP 7.2"},
                            {"name": "MySQL"},
                            {"name": "ClickHouse"},
                            {"name": "Docker"},
                            {"name": "Docker-Compose"},
                            {"name": "Phalcon"},
                            {"name": "GoLang"},
                            {"name": "ElasticSearch"},
                            {"name": "Redis"},
                            {"name": "Rabbit"},
                            {"name": "Memcache"},
                            {"name": "Node JS"},
                            {"name": "React"},
                            {"name": "MongoDB"},
                            {"name": "PHPUnit"},
                        ]
                    },
                    {
                        name: "Mobilunity",
                        date_from: "02.01.2018",
                        date_to: "15.03.2018",
                        location: "Ukraine, Kiev",
                        position: "Middle PHP Developer",
                        projects: [
                            {
                                "name": "INHOUSE Project",
                                "position": "Backend developer",
                                "description": "Secured"
                            }
                        ],
                        "stack": [
                            {"name": "Symfony 4.1"},
                            {"name": "PHP 7.2"},
                            {"name": "MySQL"},
                            {"name": "Gherkin"},
                            {"name": "PHPUnit"},
                            {"name": "Api Testing"},
                            {"name": "CI/CD"}
                        ],
                        responsibility: "re-designed Development"
                    },
                    {
                        name: "Uvocorp",
                        date_from: "01.04.2016",
                        date_to: "28.12.2017",
                        location: "Ukraine, Kiev",
                        position: "Software engineer",
                        projects: [
                            {
                                "name": "Writers Cabinets",
                                "position": "Backend developer",
                                "description": "Admin panel, in which users of the system can manipulate their orders," +
                                " perform actions with payment methods, view their statistics and " +
                                "monitor other subordinates, if such an item",
                            },
                            {
                                "name": "Supporter's admin panel",
                                "position": "Backend/Frontend developer",
                                "description": "Administration of the system as a whole." +
                                " Configurators, statistical tables."
                            }
                        ],
                        "stack": [
                            {"name": "Codeigniter Framework"},
                            {"name": "PHP 5.4, 5.6"},
                            {"name": "CLI commands"},
                            {"name": "Java Script"},
                            {"name": "Jquery"},
                            {"name": "Jquery UI"},
                            {"name": "Continuous integration"},
                            {"name": "MYSQL 5.6"},
                        ],
                        responsibility: "Development in due time. Support and refactor existing code." +
                        "Writing new modules and functionals for the system. Correcting bugs."
                    },
                    {
                        name: "VERGO (John Larkin)",
                        date_from: "01.10.2015",
                        date_to: "01.04.2016",
                        location: "Ukraine, Kiev",
                        position: "Full stack JUNIOR developer",
                        projects: [
                            {
                                "name": "News Portal",
                                "position": "Full stack developer",
                                "description": "Support project. Develop new modules and CMS for users." +
                                " Nesting and frontend's various tasks. Auto tests on MOCHA."
                            },
                            {
                                "name": "REST API for mobile APP",
                                "position": "Backend developer",
                                "description": "Full API for mobile application work."
                            }
                        ],
                        "stack": [
                            {"name": "Laravel Framework 4.0, 5.0, 5.2"},
                            {"name": "PHP 5.6, 7.0"},
                            {"name": "Java Script"},
                            {"name": "Jquery"},
                            {"name": "React"},
                            {"name": "Node js"},
                            {"name": "NPM"},
                            {"name": "MYSQL 5.6"},
                        ],
                        responsibility: "Support and refactor existing code." +
                        "Writing new modules and functionals for the system. Learning and develop myself."
                    },
                ],
                projects: [
                    {
                        "name": "MagnaCapitals",
                        "src": "https://selmarinel.github.io/images/giphy.gif",
                        "link": "https://magnacapitals.com",
                        "git": "https://bitbucket.org/selmarinel_nerdjin/tetra",
                        "description": "Sell Crypto currencies (Alternate)",
                        "enable": true,
                        "stack": [
                            {"name": "Laravel 5.5 Framework"},
                            {"name": "MYSQL"},
                            {"name": "VUEJS 2"},
                            {"name": "Nginx"},
                            {"name": "Restfull API"}
                        ]
                    },
                    {
                        "name": "TetraCrypto",
                        "src": "https://selmarinel.github.io/images/giphy.gif",
                        "link": "http://tetracrypto.com",
                        "git": "https://bitbucket.org/selmarinel_nerdjin/tetra",
                        "description": "Sell Crypto currencies",
                        "enable": true,
                        "stack": [
                            {"name": "Laravel 5.5 Framework"},
                            {"name": "MYSQL"},
                            {"name": "VUEJS 2"},
                            {"name": "Nginx"},
                            {"name": "Restfull API"}
                        ]
                    },
                    {
                        "name": "Slangshot",
                        "src": "https://selmarinel.github.io/images/giphy.gif",
                        "link": "http://slangshot.in.ua",
                        "git": "https://bitbucket.org/selmarinel_nerdjin/hipster_vocabruary",
                        "description": "Vacabruary site",
                        "enable": true,
                        "stack": [
                            {"name": "Laravel 5.4 Framework"},
                            {"name": "MYSQL"},
                            {"name": "VUEJS 2"},
                            {"name": "Pusher service"},
                            {"name": "CLI Commands"},
                            {"name": "Redis"},
                            {"name": "Continuous integration (Bamboo)"}
                        ]
                    },
                    {
                        "name": "The PIT",
                        "src": "https://pp.vk.me/c836733/v836733374/19f12/ZRw-UDcW_uA.jpg",
                        "link": "http://thepit.in.ua",
                        "git": "https://bitbucket.org/selmarinel_nerdjin/thepit",
                        "description": "Post-apocalyptic festival site. ",
                        "enable": false,
                        "stack": [
                            {"name": "Laravel 5.2 Framework"},
                            {"name": "MYSQL"},
                            {"name": "Continuous integration (Bamboo)"},
                            {"name": "VUEJS"},
                            {"name": "Jquery 3+"}
                        ]
                    }
                ],
                hobbies: [
                    {"name": "Play drums"},
                    {"name": "Animals, especially dogs"},
                    {"name": "Cycling and traveling (in particular by bicycle)"},
                    {"name": "Great interest in the role movement on the motives of Tolkien's works, the Strugatsky brothers and related works of art."},
                    {"name": "Computer games"},
                    {"name": "Lego, smart constructions"},
                    {"name": "Web development"}
                ],
                summary: "Developer with experience in Symfony 4+," +
                " VUEJS and ReactJS. Maniacally love Symfony)). Fluent with RESTful API," +
                " CLI background tasks. Have good communication skills and pre-intermediate level of English." +
                " Good team player, a guy who responsible for his code and worry about the life of the project. Fast learning." +
                " Follower of clear code, S.O.L.I.D. and microservices (alas, there was not much experience)." +
                " Love to attend conferences. "
            },
            created: function () {

            },
            mounted: function () {
            }
        });

    });
</script>
</body>
</html>


